
@{
    ViewBag.Title = "Index";
}

<h2>Admin Control Panel</h2>

<div class="row">
    <div class="col-md-4">
        <h4>Zarządzanie użytkownikami</h4>
        <p>@Html.ActionLink("Użytkownicy  »", "UsersList", "Admin", new { @class = "fullWidth btn btn-primary" })</p>
        <p>@Html.ActionLink("Role użytkowników  »", "RoleList", "Admin", new { @class = "fullWidth btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h4>Zarządzanie produktami</h4>
        <p>@Html.ActionLink("Autorzy  »", "Index", "AdminAuthors", null, new { @class = "fullWidth btn btn-primary" })</p>
        <p>@Html.ActionLink("Koszyk  »", "Index", "AdminCarts", null, new { @class = "fullWidth btn btn-primary" })</p>
        <p>@Html.ActionLink("Kategorie  »", "Index", "AdminCategories", null, new { @class = "fullWidth btn btn-primary" })</p>
        <p>@Html.ActionLink("Podatki  »", "Index", "AdminTaxes", null, new { @class = "fullWidth btn btn-primary" })</p>
        <p>@Html.ActionLink("Produkty  »", "Index", "AdminProducts", null, new { @class = "fullWidth btn btn-primary" })</p>
        <p>@Html.ActionLink("Status transakcji  »", "Index", "AdminTransactionStatus", null, new { @class = "fullWidth btn btn-primary" })</p>
        <p>@Html.ActionLink("Adresy wysyłki  »", "Index", "AdminTransactions", null, new { @class = "fullWidth btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h4>Transakcje</h4>
        <p>@Html.ActionLink("Transakcje  »", "Index", "AdminTransactions", null, new { @class = "fullWidth btn btn-primary" })</p>
        <p>@Html.ActionLink("Przedmioty transakcji  »", "Index", "AdminTransactionItems", null, new { @class = "fullWidth btn btn-primary" })</p>
    </div>
</div>