
@{
    ViewBag.Title = "Zarządzanie uprawnieniami";
}

<h2>Zarządzanie uprawnieniami</h2>

@Html.ActionLink("Stwórz nowe uprawnienie", "RoleCreate") | @Html.ActionLink("Zmień uprawnienia", "ManageUserRoles")
<hr />

<h2>Nadaj uprawnienia użytkownikowi</h2>

@using (Html.BeginForm("RoleAddToUser", "Admin"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
         Nazwa użytkownika : @Html.TextBox("UserName")
        Uprawnienie: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

    </p>

    <input type="submit" value="Zapisz" />
}
<hr />
<h3>Get Roles for a User</h3>
@using (Html.BeginForm("GetRoles", "Admin"))
{
    @Html.AntiForgeryToken()
    <p>
         Nazwa użytkownika : @Html.TextBox("UserName")
        <input type="submit" value="Get Roles for this User" />
    </p>
}

@if (ViewBag.RolesForThisUser != null)
{
    <div style="background-color:yellow;">
        <h3>Uprawnienia dla użytkownika </h3>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

<hr />
<h3>Odbierz użytkownikowi uprawnienia</h3>

@using (Html.BeginForm("DeleteRoleForUser", "Admin"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
         Nazwa użytkownika : @Html.TextBox("UserName")
        Uprawnienie: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

    </p>

    <input type="submit" value="Delete this user from Role" />
}
