
@{
    ViewBag.Title = "Stwórz nowe uprawnienie";
}

<h2>Create new role</h2>

@Html.ActionLink("Lista uprawnień", "RoleList") | @Html.ActionLink("Uprawnienia użytkowników", "UserRoles")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        Nazwa uprawnienia
    </div>
    <div>
        @Html.TextBox("RoleName")
    </div>
    <input type="submit" value="Save"/>
}
