@model BSE_Pro4.Models.Transaction

@{
    ViewBag.Title = "Zamówienie";
}

<h2>Stwórz zamówienie</h2>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Zamówione przedmioty</h4>
            <table class="table">
                <tr>
                    <th>
                        Nazwa
                    </th>
                    <th>
                        Ilość
                    </th>
                    <th>
                        Wartość
                    </th>
                    <th>
                        Cena ze zniżką
                    </th>
                    <th>
                        Podatek
                    </th>
                    <th>
                        Suma
                    </th>
                </tr>

                @foreach (var item in Model.TransactionItems)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>
                        <td>
                            @if (item.Discount != 0)
                            {
                                <s>@item.Cost.ToString("C2")</s> <span class="badge">-@item.Discount.ToString("p0")</span>
                            }
                            else
                            {
                                @item.Cost.ToString("C2")
                            }

                        </td>
                        <td>
                            @if (item.Discount != 0)
                            {
                                @((item.Cost * (1 - item.Discount)).ToString("C2"))
                                
                            }
                        </td>
                        <td>
                            <span class="badge">@item.Tax.ToString("p0")</span>
</td>
                        <td>
                            @((item.Count * item.Cost * (1 - item.Discount) * (1+ item.Tax) ).ToString("C2"))
                        </td>
                    </tr>
                }
                <tr>
                    <th>
                        
                    </th>
                    <th>
                        
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>
                        Suma
                    </th>
                    <th>
                        @Model.TotalCost.ToString("C2")
                    </th>
                </tr>
            </table>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            <div class="form-group">
                <p class="control-label col-md-2">Dane wysyłki</p>
                <div class="col-md-10">
                    @Html.DropDownList("UserShipmentId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserShipmentId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="control-label col-md-2">Dane faktury</p>
                <div class="col-md-10">
                    @Html.DropDownList("UserInvoiceId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserInvoiceId, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Wyślij" class="btn btn-success" />
                    @Html.ActionLink("Anuluj transakcję", "Abort", null, new { @class = "fullWidth btn btn-danger" })
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
