@model BSE_Pro4.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionStatus.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            Faktura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserInvoice.UserID)
        </dd>

        <dt>
            Wysyłka
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserShipment.UserID)
        </dd>

        <dt>
            Koszt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
