@model BSE_Pro4.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>

    <table class="table">
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Ilość
            </th>
            <th>
                Wartość
            </th>
            <th>
                Cena ze zniżką
            </th>
            <th>
                Podatek
            </th>
            <th>
                Suma
            </th>
        </tr>

        @foreach (var item in Model.TransactionItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @if (item.Discount != 0)
                    {
                        <s>@item.Cost.ToString("F2") zł</s> <span class="badge">-@item.Discount.ToString("p0")</span>
                    }
                    else
                    {
                        @item.Cost.ToString("F2") zł
                    }

                </td>
                <td>
                    @if (item.Discount != 0)
                    {
                        @((item.Cost * (1 - item.Discount)).ToString("F2") zł)

                    }
                </td>
                <td>
                    <span class="badge">@item.Tax.ToString("p0")</span>
                </td>
                <td>
                    @((item.Count * item.Cost * (1 - item.Discount) * (1 + item.Tax)).ToString("F2") zł)
                </td>
            </tr>
        }
        <tr>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>
                Suma
            </th>
            <th>
                @Model.TotalCost.ToString("F2") zł
            </th>
        </tr>
    </table>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionStatus.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            Faktura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserInvoice.AdditionalInfo)
        </dd>

        <dt>
            Wysyłka
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserShipment.AdditionalInfo)
        </dd>

        <dt>
            Koszt
        </dt>

        <dd>
            @(Model.TotalCost.ToString("F2") zł)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Powrót do listy", "Index")
</p>
