@model IEnumerable<BSE_Pro4.Models.Transaction>

@{
    ViewBag.Title = "Transakcje";
}

<h2>Transakcje</h2>

<p>
    @Html.ActionLink("Utwórz nową transakcje", "Create") |
    @Html.ActionLink("Powrót do panelu użytkownika", "Index", "ApplicationUsers")
</p>
<table class="table">
    <tr>
        <th>
            Status
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            Faktura
        </th>
        <th>
            Wysyłka
        </th>
        <th>
            Koszt
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionStatus.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserInvoice.AdditionalInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserShipment.AdditionalInfo)
        </td>
        <td>
            @item.TotalCost.ToString("C2")
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.TransactionId }) 
        </td>
    </tr>
}

</table>
<p>@Html.ActionLink("Powrót do panelu użytkownika", "Index", "ApplicationUsers")</p> 