@model IEnumerable<BSE_Pro4.Models.Product>

@{
    ViewBag.Title = "Produkty";

    Func<double, double> Rabat = (a) => a * 100;
    Func<double, double, double> Brutto = (netto, vat) => netto * (1 + vat);
}

<h2>Produkty</h2>


<table class="table">
    <tr>
        <th>
            Autor
        </th>
        <th>
            Kategoria
        </th> 
        <th>
            Nazwa
        </th>
        <th>
            Format
        </th>
        <th>
            Ilość stron
        </th>
        <th>
            Dostępna ilość
        </th>
        <th>
            Cena brutto
        </th>
        <th>
            Rabat
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Format)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityAvailable)
        </td>
        <td>
             @Html.DisplayFor(modelItem => item.Cost) zł
        </td>
        <td>
          @Rabat(item.Discount) %
        </td>
        <td>
            @Html.ActionLink("Wyświetl", "Details", new { id=item.ProductId }) 
        </td>
    </tr>
}

</table>
