@model BSE_Pro4.Models.UserShipment

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Dane wysyłkowe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            Faktura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice)
        </dd>

        <dt>
            Imię
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Nazwisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            Kraj
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
           Miasto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            Kod pocztowe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            Ulica
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            Nr domu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberHouse)
        </dd>

        <dt>
            Nr mieszkania
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberFlat)
        </dd>

        <dt>
            Telefon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            Opis danych wysyłkowych
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalInfo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Szczegóły", "Edit", new { id = Model.UserShipId }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
